<launch>
  <include file="$(find multi_robot_fusion)/launch/rviz.launch" />
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(find multi_robot_fusion)/data/trial.bag" />
  <node pkg="multi_robot_fusion" type="publish_static_transforms.py" name="stp" />
  <rosparam file="$(find multi_robot_fusion)/config/static_tf.yml" command="load" />
</launch>
